body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.title {
    margin-bottom: 10px; 
    text-align:center; 
    width: 210px;
    font-size: 32px;
    color: #d2691e;
}

.calculator {
    border: 2px black solid;
    border-radius: 7px;
    padding: 20px;
    background-color: rgba(25,25,25,0.8);
}

input[type="button"] {
    background-color:gray; 
    color: black;
    width: 100px;
    height: 50px;
    font-size: 24px;
    border-radius: 5px;
    border: none;
}

input[type="text"] {
    background-color: rgba(0,255,255, 0.2);
    width:100%;
    height: 70px;
    color: black;
    font-size: 32px;
    border-radius: 5px;
    margin-bottom: 25px;
}